<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * was created by santiago* * * * * * * * * * -->
<!-- * * * * * * * * * * for a university project * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * enjoy it! and rate me with a 5 * * * * * * * * * -->
<!-- * * * * * * * Angular & Spring = ReAlPoWeR * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>